<nav>
    <a href="/">Home</a>
    //<div class="dropdown">
      <a href="/workoutNeeds">Workout Needs</a>
      <div class="dropdown-content">
        <a href="/equipment">Equipment</a>
        <a href="/membership">Membership</a>
        <a href="/schedule">Schedule</a>
        <a href="/new-workout">New Workout Needs</a>

      </div>
    </div>
  </nav>