<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Duration</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Duration</h1>
  <ul>
    <% workoutNeeds.forEach(workoutNeed => { %>
      <li><%= workoutNeed.duration %> minutes</li>
    <% }) %>

  </ul>
</body>
</html>
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzXdoZIi61ATvi8SEEu2KOiDxB7B-MIbhVxw&s