<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Equipment</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <div id="equipment-container">
        <img class="workout-picture"
            src="https://images.unsplash.com/photo-1558017487-06bf9f82613a?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8d29ya291dCUyMGVxdWlwbWVudHxlbnwwfHwwfHx8MA%3D%3D"
            alt="gym equipment 2" />
        <div class="content">
            <h1>Equipment</h1>
            <div class="equipment-list">
                <ul>
                    <% workoutNeeds.forEach(workoutNeed=> { %>
                    <li>
                        <div><%= workoutNeed.equipment %> </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
