<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Image</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="home">
            <h1> Workout Needs</h1>
            <div id="pictureone">
                <img class="workout-picture-one"
                    src="https://images.unsplash.com/photo-1627483298235-f3bac2567c1c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d29ya2luZyUyMG91dHxlbnwwfHwwfHx8MA%3D%3D"
                    alt="workout includes two people planking with arms up" />
            </div>
        </div>
</body>

</html>