<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Workout Needs</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1> Workout Needs</h1>
    <img
    class="workout-picture1"
    src="https://images.unsplash.com/photo-1627483298235-f3bac2567c1c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d29ya2luZyUyMG91dHxlbnwwfHwwfHx8MA%3D%3D" 
    alt="workout includes two people planking with arms up"/>
</body>
</html>