<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>>, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
    <h1>Workout Needs</h1>
    <form action ="/workoutNeeds" method = "post">
        <label for = "equipment">Equipment Type</label>
        <input type = "text" name = "equipment" id="equipment">
        <label for = "trainerPreference">trainerPreference</label>
        <input type = "text" name = "trainerPreference" id= "trainerPreference">
        <label for = "duration">Duration</label>
        <input type ="text" name = "duration" id="duration">
        <button type = "submit"> add new Workout needs here </button>
    </form>
</body>
</html>