<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Hello New Workout</h1>
  <!-- ! action is the route this form talks to -->
  <form action="/workoutNeeds/<%=workoutNeedId%>/reviews" method="POST">
    <label for="text">Text:</label>
    <textarea type ="text" name="text" id="text"></textarea>

    <button type="submit">Add Workout</button>
  </form>
</body>
</html>